<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbECMConnection" connectionString="Data Source=10.10.1.250:1521/oracledb;User Id=ILENDINGPRO_DEV;Password=admin123;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>